*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
}
:root {
  --draggableHeight: 145px;
  --backgroundBarLife: #11b826;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: sf pro display, sans-serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
@font-face {
  font-family: sf pro display;
  font-style: normal;
  font-weight: 400;
  src: local("SF Pro Display"),
    url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYREGULAR.woff)
      format("woff");
}
@font-face {
  font-family: sf pro display;
  font-style: italic;
  font-weight: 100;
  src: local("SF Pro Display"),
    url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYULTRALIGHTITALIC.woff)
      format("woff");
}
@font-face {
  font-family: sf pro display;
  font-style: italic;
  font-weight: 200;
  src: local("SF Pro Display"),
    url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYTHINITALIC.woff)
      format("woff");
}
@font-face {
  font-family: sf pro display;
  font-style: italic;
  font-weight: 300;
  src: local("SF Pro Display"),
    url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYLIGHTITALIC.woff)
      format("woff");
}
@font-face {
  font-family: sf pro display;
  font-style: normal;
  font-weight: 500;
  src: local("SF Pro Display"),
    url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYMEDIUM.woff)
      format("woff");
}
@font-face {
  font-family: sf pro display;
  font-style: italic;
  font-weight: 600;
  src: local("SF Pro Display"),
    url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYSEMIBOLDITALIC.woff)
      format("woff");
}
@font-face {
  font-family: sf pro display;
  font-style: normal;
  font-weight: 700;
  src: local("SF Pro Display"),
    url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYBOLD.woff) format("woff");
}
@font-face {
  font-family: sf pro display;
  font-style: italic;
  font-weight: 800;
  src: local("SF Pro Display"),
    url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYHEAVYITALIC.woff)
      format("woff");
}
@font-face {
  font-family: sf pro display;
  font-style: italic;
  font-weight: 900;
  src: local("SF Pro Display"),
    url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYBLACKITALIC.woff)
      format("woff");
}


.main {
  background: url(./assets//GTAVPC_7\ 1.png);
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parameters {
  width: 260px;
  height: 340px;
  /* display: none; */
  /* opacity: 0;
  transition: opacity 0.3s ease-in-out; */
}

.container-display-status {
  background: #292933;
  color: #ffffff;
  padding: 16px 18px;
  border-radius: 14px 14px 0 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* .parameters.active{
  opacity: 1;
} */

.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #212129;
  position: absolute;
  bottom: -20px;
}

.header-container h2 {
  letter-spacing: 1px;
  font-size: 18px;
}

.header-container span {
  background: #212129;
  padding: 5px 12px;
  border-radius: 50%;
  cursor: pointer;
}

.title-display {
  padding: 35px 0 12px 0;
}

.title-display,
.title-color {
  font-size: 10px;
}

.container-parameters-status {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-parameters-status div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-parameters-status div img {
  width: 100%;
  height: 22px;
  /* object-fit: cover; */
  /* background: #212129; */
  /* border-radius: 50%; */
  /* padding: 5px; */
}

.wrapper-img {
  background: #212129;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.container-parameters-status div p {
  font-size: 12px;
}

input[type="checkbox"] {
  /* height: 0;
  width: 0;
  visibility: hidden; */
  display: none;
}

.label-status {
  width: 30px;
  height: 16px;
  display: block;
  position: relative;
  background: #212129;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: inset -1px -1px 0px #4645b1;
}

.label-status::after {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  top: 2px;
  left: 3px;
  background: #fff;
  transition: 0.3s;
}

input[type="checkbox"]:checked + label {
  background: #5d5bdb;
}

input[type="checkbox"]:checked + label:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

.title-color {
  padding: 20px 0 12px 0;
}

.container-color {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.choice-color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.red {
  background: rgba(223, 81, 81, 1);
}
.yellow {
  background: rgba(221, 198, 76, 1);
}
.green {
  background: rgba(113, 187, 101, 1);
}
.blue {
  background: rgba(60, 168, 191, 1);
}
.violet {
  background: rgba(93, 91, 219, 1);
}

.selected {
  outline: 1.5px solid #3d3d4e;
}

.personnalisation-color {
  display: flex;
  align-items: center;
  gap: 7px;
}

.personnalisation-color span {
  color: rgba(167, 167, 167, 1);
  font-size: 8px;
  padding-left: 5px;
}

.personnalisation-color .label-color {
  cursor: pointer;
}

input[type="color"] {
  display: none;
}

.container-button {
  background: #212129;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  border-radius: 0 0 14px 14px;
}

.container-button button {
  width: 90px;
  height: 30px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.container-button button:nth-child(1) {
  background: #292933;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.container-button button:nth-child(2) {
  background: #5d5bdb;
  box-shadow: inset -1px -2px 0px #4746b1;
}

.draggable {
  position: absolute;
  display: none;
}

.close-status-parameters {
  display: block;
}

.draggableClick {
  cursor: grab;
}

.heartContainer {
  top: 0;
  left: 0;
}

.shieldContainer {
  top: var(--draggableHeight);
  left: 0;
}

.foodContainer {
  top: calc(var(--draggableHeight) * 2);

  left: 0;
}

.thirstContainer {
  top: calc(var(--draggableHeight) * 3);
  left: 0;
}

.status {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75px;
}

.status img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.status svg {
  height: 50px;
  width: 50px;
}

#circle-id {
  opacity: 0.6;
}

.another-circle {
  stroke-dasharray: 125;
  stroke-dashoffset: 125;
  stroke: var(--backgroundBarLife);
  transition: stroke-dashoffset 1000ms ease;
  stroke-linecap: round;
}

.increase-decrease-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.increase,
.decrease {
  cursor: pointer;
  width: 100px;
}

